In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
pip install -U scikit-learn

Requirement already satisfied: scikit-learn in c:\users\dell\appdata\local\programs\python\python311\lib\site-packages (1.3.2)
Requirement already satisfied: numpy<2.0,>=1.17.3 in c:\users\dell\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.23.3)
Requirement already satisfied: scipy>=1.5.0 in c:\users\dell\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.10.0)
Requirement already satisfied: joblib>=1.1.1 in c:\users\dell\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\dell\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (3.1.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
df = pd.read_csv('healthcare-dataset-stroke-data.csv')
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

In [5]:
df.isnull().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [6]:
df['bmi'] = df['bmi'].fillna(df['bmi'].mean())

In [7]:
df.drop_duplicates(inplace=True)

In [8]:
df.drop('id',axis=1,inplace=True)

In [9]:
df.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.600000,formerly smoked,1
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,28.893237,never smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.500000,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.400000,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.000000,never smoked,1

In [10]:
features = df.iloc[:,:-1]
target = df.iloc[:,-1]

In [11]:
cols = features[['gender', 'ever_married', 'work_type', 'Residence_type','smoking_status']]

In [12]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
features['gender'] = le.fit_transform(features['gender'])
features['ever_married'] = le.fit_transform(features['ever_married'])
features['work_type'] = le.fit_transform(features['work_type'])
features['Residence_type'] = le.fit_transform(features['Residence_type'])
features['smoking_status'] = le.fit_transform(features['smoking_status'])

In [13]:
df.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.600000,formerly smoked,1
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,28.893237,never smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.500000,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.400000,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.000000,never smoked,1

In [14]:
features.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,1,67.0,0,1,1,2,1,228.69,36.600000,1
1,0,61.0,0,0,1,3,0,202.21,28.893237,2
2,1,80.0,0,1,1,2,0,105.92,32.500000,2
3,0,49.0,0,0,1,2,1,171.23,34.400000,3
4,0,79.0,1,0,1,3,0,174.12,24.000000,2

In [15]:
features.work_type.value_counts()

2    2925
3     819
4     687
0     657
1      22
Name: work_type, dtype: int64

In [16]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(features,target,random_state=2,test_size=0.3,stratify=target)

In [17]:
from sklearn.tree import DecisionTreeClassifier

# Create a Decision Tree Classifier
dt = DecisionTreeClassifier()

# Fit the model on your training data
dt.fit(xtrain, ytrain)

# Predict on your test data
ypred_dt = dt.predict(xtest)

In [22]:
# Calculate the accuracy on the training data
train_accuracy = dt.score(xtrain, ytrain)

# Calculate the accuracy on the testing data
test_accuracy = dt.score(xtest, ytest)

# Print the accuracies
print(f'Training Accuracy: {train_accuracy}\nTesting Accuracy: {test_accuracy}')

Training Accuracy: 1.0
Testing Accuracy: 0.9028049575994781

In [23]:
from sklearn.metrics import confusion_matrix, classification_report

# Assuming ypred_dt is the array of predictions from the Decision Tree
# Predict on the test data
ypred_dt = dt.predict(xtest)

# Calculate the confusion matrix
cm = confusion_matrix(ytest, ypred_dt)

# Generate the classification report
cr = classification_report(ytest, ypred_dt)

# Print the confusion matrix and classification report
print(f'Confusion Matrix:\n{cm}\n\nClassification Report:\n{cr}')

Confusion Matrix:
[[1372   86]
 [  63   12]]

Classification Report:
              precision    recall  f1-score   support

           0       0.96      0.94      0.95      1458
           1       0.12      0.16      0.14        75

    accuracy                           0.90      1533
   macro avg       0.54      0.55      0.54      1533
weighted avg       0.92      0.90      0.91      1533

In [20]:
# import pickle
# pickle.dump(rf,open('./model.sav', 'wb'))

In [21]:
# pickle.load(open('model.sav', 'rb'))